@import "./style-variables/css-variables.scss";
@import "./style-variables/scss-variables.scss";


*,
*::after,
*::before {
  margin: 0;
  padding:0;

  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}


body {
  box-sizing: border-box;
  font-family: "Rubik","Arial",sans-serif;
  
  
}

::selection { //changes highlighting colors
  background-color: $color-red;
  color: $color-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
